@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body {
/*    background-color:   #a00; bottom right*/
/*    background-color:   #f70; top left*/
    background-color:   #d50;
    background-color:   #c30;
    background:         -webkit-linear-gradient(-45deg, #f70 0%, #d50 30%, #c30 70%, #a00 100%);
    background:         -moz-linear-gradient(-45deg, #f70 0%, #d50 30%, #c30 70%, #a00 100%);
    background:         -o-linear-gradient(-45deg, #f70 0%, #d50 30%, #c30 70%, #a00 100%);
    background:         -ms-linear-gradient(-45deg, #f70 0%, #d50 30%, #c30 70%, #a00 100%);
    color:              #000;
}

.container {
    height:             500px;
    width:              750px;
    margin:             0 auto;
    padding-top:        100px;
    text-align:         center;
    position:           relative;
    overflow:           hidden;
}

.header {
    height:             150px;
    width:              375px;
/*    background-color:   #c00;*/
    background:         -webkit-linear-gradient(-75deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 32%);
    background:         -moz-linear-gradient(-75deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 32%);
    background:         -o-linear-gradient(-75deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 32%);
    background:         -ms-linear-gradient(-75deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 32%);
    border-radius:      10px;
    position:           relative;
    top:                10px;
    padding:            10px 0 0 10px;
    font-family:        Lato;
    font-size:          26px;
    font-weight:        400;
}

.image {
    height:             185px;
    width:              385px;
/*    background-color:   #0f0;*/
    background:         -webkit-linear-gradient(-80deg, rgba(255, 150, 0, 0.6) 0%, rgba(255, 255, 255, 0) 10%);
    background:         -moz-linear-gradient(-80deg, rgba(255, 150, 0, 0.6) 0%, rgba(255, 255, 255, 0) 10%);
    background:         -o-linear-gradient(-80deg, rgba(255, 150, 0, 0.6) 0%, rgba(255, 255, 255, 0) 10%);
    background:         -ms-linear-gradient(-80deg, rgba(255, 150, 0, 0.6) 0%, rgba(255, 255, 255, 0) 10%);
    border-radius:      10px;
    padding:            10px 0 0 10px;
    position:           relative;
    top:                -160px;
    left:               365px;
}

.nav {
    height:             300px;
    width:              250px;
    background-color:   #000;
    border-radius:      0 0 10px 10px;
    box-shadow:          -10px 10px 40px rgba(0, 0, 0, 0.7);
    position:           relative;
    top:                -195px;
    left:               115px;
    color:              #aaa;
    font-family:        Open Sans;
    font-size:          15px;
}

.content {
    height:             290px;
    width:              395px;
    background-color:   #a00;
    background:         -webkit-linear-gradient(-55deg, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.5) 100%);
    background:         -moz-linear-gradient(-55deg, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.5) 100%);
    background:         -o-linear-gradient(-55deg, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.5) 100%);
    background:         -ms-linear-gradient(-55deg, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.5) 100%);
    border-radius:      10px;
    position:           relative;
    top:                -515px;
    left:               355px;
    text-align:         left;
    color:              #fff;
    font-family:        Lato;
    font-size:          16px;
}

/* Header */
.header .inner {
    height:             140px;
    width:              365px;
    background-color:   #fff;
    border-radius:      10px;
    box-shadow:         0 -10px 60px rgba(0, 0, 0, 0.7) inset;
}

.header .red {
    color:              #930;
}

.header .title {
    padding:            40px 0 0 0;
    border-left:        1px solid #000;
    width:              110px;
    margin-left:        175px;
}

.header .desc {
    font-size:          18px;
    font-weight:        400;
}

/* Image */

.image .inner {
    height:             175px;
    width:              375px;
    background-color:   #000;
    border-radius:      10px 10px 10px 0;
}

/* Nav */

.nav ul {
    list-style:         none;
    padding-top:        60px;
    width:              125px;
    margin:             auto;
}

.nav ul li {
    border-bottom:      1px solid rgba(255, 255, 255, 0.3);
}

.nav ul li:last-child {
  border:               none;
}

.nav ul li a,
.nav ul li a:visited,
.nav ul li a:active {
    padding:            10px 0;
    color:              #aaa;
    text-decoration:    none;
    display:            inline-block;
}

.nav .selected a,
.nav .selected a:visited,
.nav .selected a:active,
.nav ul li a:hover,
.nav .selected a:hover {
    color:              #fff;
}

/* Content */

.content .inner {
    height:             280px;
    width:              385px;
    background:         -webkit-linear-gradient(65deg, rgba(255, 119, 0, 1) 0%, rgba(170, 0, 0, 1) 100%);
    background:         -moz-linear-gradient(65deg, rgba(255, 119, 0, 1) 0%, rgba(170, 0, 0, 1) 100%);
    background:         -o-linear-gradient(65deg, rgba(255, 119, 0, 1) 0%, rgba(170, 0, 0, 1) 100%);
    background:         -ms-linear-gradient(65deg, rgba(255, 119, 0, 1) 0%, rgba(170, 0, 0, 1) 100%);
    border-radius:      10px;
}

.content-header {
    height:             50px;
    background-color:   #aaa;
    border-radius:      10px 10px 0 0;
    box-shadow:         -10px -10px 70px rgba(0, 0, 0, 0.5) inset;
    color:              #000;
}

.content-header p {
    padding:            15px;
}

.content-body {
    height:             230px;
/*    border:             1px solid #000;*/
    overflow-y:         auto;
    /*text-shadow:        1px 1px #777;*/
}

.content-body p {
    padding:            10px;
}

.content-body .sub-text {
    font-size:          12px;
}

.content a:link,
.content a:active,
.content a:visited {
    color:              #fff;
    text-decoration:    none;
}

.content a:hover {
    text-decoration:    underline;
}

.topics {
    margin-left:        10px;
}

.topics > li {
    font-size:          14px;
}

.topics > li span {
    font-weight:        bold;
}

.topics > li span:after {
    content:            ": ";
}

.items {
    display:            inline;
    margin-left:        5px;
}

.items > li {
    font-size:          12px;
    display:            inline;
}

.items > li:after {
    content:            ", ";
}

.items > li:last-child:after {
    content:            none;
}